! Fonts {{{
Xft.lcdfilter: lcddefault
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting:   1
Xft.rgba:      rgb
Xft.hintstyle: hintslight
! }}}

## rofi config
rofi.color-enabled: true
rofi.color-normal: #004b46,#fdf6e3,#004b46,#004b46,#9999FF
rofi.color-window: #004b46
rofi.lines: 3
rofi.eh: 2
rofi.padding: 300
rofi.fullscreen: true
rofi.opacity: 85
rofi.fuzzy: true
